.social{
	display: inline-flex;
	margin-left: 45%;
	margin-right: 40%;
}
.social i{
	margin: 10px;
color: rgb(5, 45, 82);
padding: 0.5%;
}
.text12{
	color: white;
}
.rowthird{
	background-color: rgb(58, 66, 74);
	padding: 1%;
	font-size: 13px;
/*	margin-top: 40px;*/
}
.text13{
	font-weight: bold;
	font-size: 17px;
	margin-left: 0rem;
}
.secondrow{
	display: inline-flex;
}
.col1, .col2, .col3, .col4{
	margin-left:15% ;
	margin-right:15% ;
}
ul li{
	list-style: none;
	color: blue;
	font-size: 13px;
	padding: 2%;
}
p{
	padding: 1%;
}
ul a{
	text-decoration: none;
}
button{
	background-color:rgb(26, 55, 84);
	color: white;
	border: 0px solid grey;
}
.newscontainer{
height: 40px;
width: 120px;
}