/*navbar fixed top*/
 /*.scrolled {
  background-color: blue !important;
  transition: background-color 200ms linear;
}*/
.nav-colored { background-color:#000; }
.nav-transparent { background-color:transparent;}
/*upto here*/

/*responsive nav bar*/
body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
/*  background-color: rgb(0,0,0);*/
  background-color: rgb(142,130,192);
/*  background-color: cyan;*/
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align:start;
  margin-top: 5px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 26px;
  /*color: #818181;*/
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
 /* color: #f1f1f1;*/
 color: inherit;
}

.overlay .closebtn {
  position: absolute;
  top: 5%;
  right: 10%;
  font-size: 40px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 15px}
  .overlay .closebtn {
  font-size: 20px;
  top: 0px;
  right: 25px;
  }
}
/*upto here*/

/*header content*/

.leftdiv{
  float: left;
}
.rightdiv{
  float: right;
  margin-top: 1%;
}
/*upto here*/